/* 0. 全局 */
@layer global {
  html {
    font-size: clamp(1.1rem, 2vw, 1.3rem);
  }

  body {
    font-family: "Calibri", "等线", "Pingfang SC", system-ui, "Open Sans";
    min-height: 75vh;
    padding-inline: 10vw;
    line-height: 1.9;
  }

  /* output {
    display: block;
    white-space: pre-wrap;
  } */
  ul {
    list-style: none;
    margin: 0;
  }

  video {
    max-width: 100%;
  }

  a {
    text-decoration: none;
    padding-inline: 0.4em;
    color: var(--text-color);
  }

  p {
    margin-block: 0;
  }

  button {
    font: inherit;
    cursor: pointer;
    border: 1px solid #555;
    padding-inline: 0.5em;
    transition: all 0.2s linear;
    appearance: none;
  }

  button:hover {
    /* 反色 */
    background-color: var(--text-color);
    color: var(--background-color);
  }

  input,
  textarea {
    padding-inline: 1em;
    line-height: 2.2;
    border: 1px solid #000;
    min-width: 15em;
    margin: 1em 0.5em;
    font-size: 0.9em;
    transition: all 0.2s;
  }

  input:focus,
  textarea:focus {
    background-color: #555;
    color: #fff;
  }

  svg.icon {
    width: 0.9em;
    margin-right: 0.2em;
    fill: var(--svg-fill);
  }
}

@layer 星怒 {
  .mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 114514;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: disappear 0.5s 0.7s 1 linear forwards;
    background-color: var(--background-color);
  }

  .mask img {
    max-width: 4em;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #444;
    --background-color: #fff;
    --svg-fill: #625c5c67;
  }
  body {
    background-color: var(--background-color);
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #eee;
    --background-color: #2e3238;
    --svg-fill: rgba(156, 167, 189, 0.404);
  }
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    color-scheme: dark;
  }
}

/* 1. 标题 */
@layer 标题 {
  h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  h2 span {
    font-family: Rockwell;
  }

  h2 button {
    font-size: 1.1rem;
  }

  /* 1.1 时间 */
  h2 div.time {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

@layer 内容 {
  /* 2 内容 */
  main.chat-container {
    width: 60vw;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 1em 2em;
    border-radius: 10px;
    background-color: rgba(252, 252, 251, 0.933);
    white-space: wrap;
  }

  @layer chat {
    ul.chat-messages > li.chat-content {
      display: grid;
      align-items: center;
      justify-content: space-between;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: auto;
      padding-block: 1em;
      border-bottom: #888 dashed 1px;

      /* .msg-main > .msg-content {
        white-space: pre-wrap;
      } */


    }
    ul.chat-messages > li.chat-content .msg-main > .msg-content {
      white-space: pre-wrap;
    }
    ul.chat-messages > li.chat-content div.msg-content.return {
      text-indent: 2em;
    }
  }

  @layer info {
    /* 4 */
    .chat-messages > .chat-content .msg-info {
      white-space: nowrap;
      padding-left: 1em;
    }

    .chat-messages > .chat-content .info-cell {
      font-size: smaller;
      display: flex;
      align-items: center;

      color: var(--text-color);
    }

    .chat-content .msg-info .msg-info-cell span.msg-user {
      white-space: break-spaces;
    }
  }

  @layer reply {
    ul.chat-messages > li.chat-content ul.reply {
      margin-top: 1em;
      margin-right: 0.5em;
      border-left: var(--text-color) 0.5em solid;
    }
    ul.chat-messages > li.chat-content .reply-info {
      display: flex;
      gap: 1em;
    }
    ul.chat-messages > li.chat-content ul.reply li.reply-msg {
      margin-block: 0.5em;
    }
  }
}

@layer 表单 {
  /* 3 表单 */
  .input-form {
    padding-inline: 10vw;
    display: grid;
    grid-template-areas:
      "form form"
      "file clearBtn"
      "file link";
    grid-template-columns: 3fr 2fr;
    gap: 1em 0;
  }

  form.chat-input {
    display: grid;
    grid-template:
      "input input"
      "username submit" / 3fr 1fr;
    justify-content: center;
    align-items: center;
    grid-area: form;
  }

  form.chat-input label.username--input {
    grid-area: username;
  }

  form.chat-input button[type="submit"] {
    grid-area: submit;
  }

  /* .chat--input 不能直接用 */

  form.chat-input .input--textarea {
    display: block;
    min-width: 70%;
    min-height: 2em;
    font: inherit;
    margin: 0;
    grid-column: 1 / span 2;
  }

  .input-form input#fileUpload {
    grid-area: file;
    margin: 0;
  }

  .input-form button#clear-button {
    padding: 0.2em 1em;
    font-size: large;
    grid-area: clearBtn;
    justify-self: center;
  }

  .input-form a {
    grid-area: link;
    justify-self: center;
  }
}

@layer 评分 {
  .ratingBlock {
    text-align: center;
    cursor: pointer;
  }

  .ratingBlock .rating {
    font-weight: bold;
    color: #444;
    line-height: 1.5;
    color: var(--text-color);
  }

  .ratingBlock .ratingBar {
    background-color: #72767d;
    height: 4px;
    min-width: 30px;
    position: relative;
    width: 100%;
  }

  .ratingBlock .ratingBar div {
    height: 100%;
    background-color: #85ce73;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .ratingBlock .ratingBar div.green {
    background-color: #85ce73;
  }

  .ratingBlock .ratingBar div.yellow {
    background-color: khaki;
  }

  .ratingBlock .ratingBar div.red {
    background-color: #d76666;
  }
}

@keyframes disappear {
  to {
    opacity: 0;
  }
}

span.formula {
  font-family: "Cambria Math", system-ui;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 4.5vw;
  }
  
  body {
    min-height: unset;
    height: 100vh;
    justify-content: flex-start;
  }
  
  main.chat-container {
    width: fit-content;
    min-height: 70vh;
    height: fit-content;
    padding-bottom: 50vh;
  }
  section.input-form {
    padding: 0;
  }
  
  section.input-form input#fileUpload,
  section.input-form #clear-button,
  section.input-form a {
    display: none;
  }
  
  h2 button {
    display: none;
  }
  
  .chat-messages {
    padding: 0;
  }
  
  form.chat-input .input--textarea {
    min-width: unset;
    width: 90%;
  }
  form.chat-input label.username--input input {
    min-width: unset;
    width: 27vw;
  }
  
}